<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link href="../assets/style.css" rel="stylesheet">
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <!--导航-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="#">微信公众号管家</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="">首页</a></li>
                <li><a href="">关于</a></li>
                <li><a href="">登录</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="page-header">
                    <h1>四光年科技<small>有价值的、有趣的信息服务</small></h1>
                </div>
                <blockquote>
                    <p>交给你全栈开发的一招一式，我们不会装作什么都懂，也不会教你花架子，只是能保证你学完后，拥有自己的一套内功心法，能举一反三，轻松写代码</p>
                </blockquote>

                <p>
                    <h3>程序员修炼之道</h3>
                </p>
                <p>
<mark>“衣带渐宽终不悔，为伊消得人憔悴”</mark>，编程大约有三个境界，新手、高手和<del>高不成低不就的中手</del>，适合新手的教程很多，指导中手的教程却很少；没有几十万行代码的锤炼或者长期在一个高手团队里打磨切磋，中手需要在这个层次“众里寻他千百度”，才能“蓦然回首”。 <ins>我们偏好实践，以正确的原则指导正确的行动</ins>
                </p>

                <p>
                    <h3>从茅屋到城堡</h3>
                </p>
                <p>
“实在”才是我们工作的重点，弱水三千我只取一瓢饮。你不需要从一开始要做到方方面面，大多数人其实也无法做到面面俱到；一口吃不了个胖子那就剁着吃，我们将徒手带着你开发项目，最开始只会用两三根茅草搭建个最简单的版本，逐渐告诉你怎么“添砖补瓦”，你需要在这个过程中不断储备新技术，体会什么是敏捷开发，最佳实践。
                </p>

                <p>
                    <h3>程序员不可不读</h3>
                </p>
                <p>
在单打独斗的时候，你需要能快速应对各种环境，读书是一个能帮你修炼内功心法的绝佳方式。实践之外，每天——希望你能读上那么一段时间的书，认真想一想那些还一知半解的东西，当你能把这些盲点转换成自己的思想，你会看得更多更远。我们整理了一些在修炼的各个阶段，能够帮大家更快突破瓶颈的经典书籍，共勉
                </p>

                <p>
2015年北航计算计学院毕业，课聚、滴答前端负责人，大三开始捣鼓前端，现前端后端都在啃，喜欢新东西新技术，完美主义者。“熊孩子，喜欢刨根问底自己琢磨，人称‘罗老师’。对于写代码呢，像个孩子一样玩就好了”

全栈工程师cto
                </p>

                <p class="text-center">
                    <img src="../assets/screenshot_1.jpg" class="img-thumbnail" alt="">
                </p>

                <p>听说 PHP 很简单，常用的函数有<code>echo</code>、<code>is_array</code>、<code>mysql_connect</code>等等</p>

                <p>
                    例如
                    <pre>
                    // example
                    if($a == 1){
                        echo 'variable a = 1';
                    }else{
                        echo 'variable a = 2';
                    }
                    </pre>
                </p>

                <p class="text-center">
                    <button class="btn btn-primary">顶</button>
                    <button class="btn btn-danger">踩</button>
                </p>

            </div>
            <div class="col-md-3">
                <p>
                    <img src="../assets/case_1.jpg" alt="..." class="img-circle">
                </p>
                <h3>相关内容</h3>
                <ul class="list-unstyled">
                    <li><a href="">深圳市四光年信息技术有限公司</a></li>
                    <li><a href="">深圳市腾讯计算机系统</a></li>
                    <li><a href="">北京市百度互联网计算有限公司</a></li>
                    <li><a href="">杭州市阿里巴巴集团</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>